* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  font-family: "Lato", sans-serif;
  background-color: white;
}

main {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top {
  background-color: white;
  margin-left: -400px;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  padding: 0 0 4rem 0;
}

.intro {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.intro1 {
  font-weight: 400;
  font-size: 1.25rem;
}

b {
  color: #009966;
  font-weight: 800;
  font-size: 1.25rem;
}

.bottom {
  background-color: grey;
  margin-top: 5rem;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  border-top: 7px solid #999999;
  background-color: #666666;
  width: 80rem;
  align-items: center;
  justify-content: center;
}

.h2-text {
  padding-top: 1rem;
}

h2 {
  background-color: #ffbf00;
  font-weight: 900;
  font-size: 1.5rem;
  width: 50%;
  padding: 1rem;
  margin-left: -0.5rem;
  border-bottom: 8px solid #cc9900;
}

.bottom-card {
  /* position: inherit; */
  background-color: #ffffff;
  width: 50rem;
  height: 20rem;
  border: 0 0 5rem 0 solid grey;
  border-bottom: 7px solid #999999;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 0 auto;
}

.CTA {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.CTA1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem 1rem 1rem 1rem;
}

/* style for tablet */
@media screen and (max-width: 1024px) {
  main {
    width: 70%;
  }

  .bottom {
    width: 48rem;
  }

  .bottom-card {
    width: 40rem;
  }
  .top {
    background-color: white;
    margin: 0;
  }
  h2 {
    width: 60%;
  }
}

/* style for mobile */
@media screen and (max-width: 500px) {
  main {
    width: 90%;
  }

  .bottom {
    width: 40rem;
  }

  .bottom-card {
    width: 40rem;
    background-color: #ffffff;
    width: 50%;
    height: fit-content;
    border: 0 0 5rem 0 solid grey;
    border-bottom: 7px solid #999999;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .top {
    background-color: white;
    width: 100%;
    padding-top: 200px;
  }
  .h2-text {
    padding-top: 0.5rem;
  }
  h2 {
    width: 100%;
    background-color: #ffbf00;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: -1.5rem;
    border-bottom: 8px solid #cc9900;
  }
}
